body{
    background-image: url(media/background.jpg);
    background-repeat: no-repeat;
}

main{
    margin-top: 50px;
    margin-bottom: 50px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    background-color: rgba(255, 255, 255, .8);
    padding-top: 10px;
    padding-bottom: 10px;
}


#pagination{
    margin-bottom: 0;
}
#log-out{
    margin-bottom: 10px;
}

#add_form{
    margin-top: 20px;
}

input[type="submit"]{
margin-left: 5px;
}

#list_member{
    margin-top: 20px;
    margin-bottom: 20px;
}

#inscription > button{
    margin-top: 10px;
    margin-bottom: 10px;
}

span{
    font-weight: bold;
}

#correctif{
    margin-left: 5px;
}

@media (max-width: 991.98px){
    body{
        background-image: none;
    }
    .container{
        box-shadow: none;
    };
}